<div class="w-full h-full flex flex-col">
  <div class="px-gutter pt-6 pb-20 bg-primary flex-none">
    <div class="flex items-center justify-between">
      <h2
        class="headline text-primary-contrast m-0 flex items-center w-full max-w-xxxl mr-6"
      >
        <span @fadeInRight class="ml-4 block">Nuevo Proyecto</span>
      </h2>
      <button mat-button (click)="back()" class="text-am-base-background">
        REGRESAR
      </button>
    </div>
  </div>

  <div class="p-6 pt-0 overflow-hidden flex flex-col gap-2">
    <!-- Formulario de datos generales del proyecto (50%) -->
    <div class="w-full flex flex-col gap-2 mb-6">
      <form class="w-full" [formGroup]="form">
        <div class="bg-white rounded-lg p-4 shadow">
          <div class="flex items-center">
            <div class="text-lg font-medium text-am-main-blue-dark ml-2">
              {{ editMode ? "Editar Proyecto" : "Nuevo Proyecto" }}
            </div>
          </div>

          <div class="grid grid-cols-1 md:grid-cols-2 gap-3">
            <mat-form-field appearance="outline" class="w-full">
              <mat-label>Nombre Interno</mat-label>
              <input matInput formControlName="internalName" />
              <mat-error *ngIf="form.get('internalName').hasError('required')">
                Campo Nombre Interno es requerido.
              </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline" class="w-full">
              <mat-label>Nombre Comercial</mat-label>
              <input matInput formControlName="commercialName" />
              <mat-error
                *ngIf="form.get('commercialName').hasError('required')"
              >
                Campo Nombre Comercial es requerido.
              </mat-error>
            </mat-form-field>
          </div>

          <div class="grid grid-cols-1 md:grid-cols-2 gap-3">
            <app-select-autocomplete
              label="Cliente"
              [control]="form.get('customerId')"
              [required]="true"
              [listOptions]="customerSelect"
            ></app-select-autocomplete>

            <app-select-autocomplete
              label="Categoria"
              [control]="form.get('categoryId')"
              [required]="true"
              [listOptions]="categorySelect"
            ></app-select-autocomplete>
          </div>

          <app-select-autocomplete
            label="Status"
            [control]="form.get('statusId')"
            [required]="true"
            [listOptions]="statusSelect"
          ></app-select-autocomplete>

          <div class="grid grid-cols-1 md:grid-cols-2 gap-3">
            <mat-form-field appearance="outline" class="w-full">
              <mat-label>Fecha de Inicio</mat-label>
              <input matInput type="date" formControlName="startDate" />
            </mat-form-field>

            <mat-form-field appearance="outline" class="w-full">
              <mat-label>Fecha de Finalización</mat-label>
              <input matInput type="date" formControlName="endDate" />
            </mat-form-field>
          </div>
        </div>
      </form>
    </div>

    <!-- Formulario para agregar un nuevo requerimiento -->
    <div class="w-full flex flex-col gap-2 mb-6">
      <div class="bg-white rounded-lg p-4 shadow">
        <div class="flex items-center">
          <div class="text-lg font-medium text-am-main-blue-dark ml-2">
            {{ editMode ? "Editar Requerimiento" : "Agregar Requerimiento" }}
          </div>
        </div>
        <br />

        <form [formGroup]="requirementsForm" (ngSubmit)="saveRequirement()">
          <div class="grid grid-cols-1 md:grid-cols-2 gap-3">
            <mat-form-field appearance="outline" class="w-full">
              <mat-label>Descripción del Requerimiento</mat-label>
              <input
                matInput
                formControlName="requirement"
                placeholder="Escribe el requerimiento aquí"
              />
              <mat-error
                *ngIf="requirementsForm.get('requirement').hasError('required')"
              >
                Este campo es obligatorio.
              </mat-error>
            </mat-form-field>

            <app-select-autocomplete
              label="Estado"
              [control]="requirementsForm.get('stateId')"
              [required]="true"
              [listOptions]="statusSelect"
            ></app-select-autocomplete>
          </div>

          <div class="flex justify-end">
            <button
              mat-button
              color="primary"
              type="submit"
              [disabled]="requirementsForm.invalid"
            >
              {{
                editMode ? "Actualizar Requerimiento" : "Guardar Requerimiento"
              }}
            </button>
          </div>
        </form>
      </div>
    </div>

    <!-- Tabla de Requerimientos (50%) -->
    <div class="w-full flex flex-col gap-2">
      <div class="bg-white rounded-lg p-4 shadow">
        <div class="flex items-center">
          <div class="text-lg font-medium text-am-main-blue-dark ml-2">
            Requerimientos
          </div>
        </div>
        <br />

        <div class="w-full overflow-x-auto">
          <table class="min-w-full divide-y divide-gray-200">
            <thead>
              <tr>
                <th
                  class="px-6 py-3 bg-am-main-blue-light rounded-l-lg text-left text-xss leading-4 font-bold text-am-main-blue-dark tracking-wider"
                >
                  Requerimiento
                </th>
                <th
                  class="px-6 py-3 bg-am-main-blue-light text-left text-xss leading-4 font-bold text-am-main-blue-dark tracking-wider"
                >
                  Estado
                </th>
                <th class="px-6 py-3 bg-am-main-blue-light rounded-r-lg"></th>
              </tr>
            </thead>
            <tbody class="bg-white">
              <tr
                *ngFor="let req of requirements; let i = index"
                (click)="selectRequirement(req, i)"
              >
                <td class="px-6 py-4 font-semibold text-xs text-left">
                  {{ req.requirement }}
                </td>
                <td class="px-6 py-4 font-semibold text-xs text-left">
                  {{ req.stateProject }}
                  <!-- Mostrar nombre del estado -->
                </td>
                <td class="px-6 py-4 text-center">
                  <div
                    class="flex justify-center items-center cursor-pointer p-1.5 w-fit rounded-full text-am-new-red-dark bg-am-new-red-light border-am-new-red-dark mb-1"
                    (click)="removeRequirement(i); $event.stopPropagation()"
                  >
                    <mat-icon
                      matTooltip="Eliminar Requerimiento"
                      [icIcon]="icRemove"
                    ></mat-icon>
                  </div>
                  <div
                    class="flex justify-center items-center cursor-pointer p-1.5 w-fit rounded-full text-am-main-blue-dark bg-am-main-blue-light mb-1"
                    (click)="
                      selectRequirement(req, i); $event.stopPropagation()
                    "
                  >
                    <mat-icon
                      matTooltip="Editar Requerimiento"
                      [icIcon]="icEdit"
                    ></mat-icon>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>

          <hr />
        </div>
      </div>
    </div>

    <!-- Botón para guardar el proyecto -->
    <div class="flex justify-end">
      <button
        mat-button
        color="accent"
        [disabled]="form.invalid || requirements.length == 0"
        (click)="projectSave()"
      >
        GUARDAR PROYECTO
      </button>
    </div>
  </div>
</div>
